arcade~=3.3.2
beautifulsoup4~=4.13.4
fastapi
matplotlib
networkx~=3.5
numpy~=2.3.1
pandas
polars~=1.31.0
pony~=0.7.19
pydantic~=2.11.7
pygtrie~=2.5.0
rapidfuzz
requests~=2.32.4
thefuzz
tqdm~=4.67.1

pyperclip~=1.9.0
pillow~=11.0.0
selenium~=4.34.2